<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title><%= h(yield(:title) || "Untitled") %></title>
  <%= stylesheet_link_tag 'site' %>
  <%= yield(:head) %>
</head>

<body>

<div id="container">

  <div id="header">

    <div id="header_top_div">

      <span id="reverb_span">

        <div id="space_b4_reverb">
        <!-- end #space_b4_reverb --></div>

        <div id="reverb">

          <img style="visibility:hidden;width:0px;height:0px;" border=0 width=0 height=0 src="http://counters.gigya.com/wildfire/IMP/CXNID=2000002.0NXC/bT*xJmx*PTEyODk3MjIwNjEzMDcmcHQ9MTI4OTcyMjA4NzUyMyZwPTI3MDgxJmQ9cHJvX3BsYXllcl9maXJzdF9nZW4mZz*xJm89/ZDRlYzNlYTY*NzZkNDA3Y2JhMTA4NzNlOTBlYzBiOTEmb2Y9MA==.gif" /><embed type="application/x-shockwave-flash" src="http://cache.reverbnation.com/widgets/swf/40/pro_widget.swf" height="200" width="262" align="top" bgcolor="#ffffff" loop="false" wmode="opaque" quality="best" allowScriptAccess="always" allowNetworking="all" allowFullScreen="true" seamlesstabbing="false" flashvars="id=artist_911779&posted_by=artist_911779&skin_id=PWAS1002&border_color=000000&auto_play=false&shuffle=false"/><br/><img style="visibility:hidden;width:0px;height:0px;" border=0 width=0 height=0 src="http://www.reverbnation.com/widgets/trk/40/artist_911779/artist_911779/t.gif"/><img height="1" width="1" border="0" src="http://a.triggit.com/px?u=reverbnation&rtv=911779wd,Other,Contemporary" />

        <!-- end #reverb --></div>

      <!-- end #reverb_span --></span>

      <span id="space_after_reverb_span">
      <!-- end #space_after_reverb_span --></span>

    <!-- end #header_top_div --></div>

    <div id="header_bottom_div">

      <div id="space_b4_advert">
      <!-- end #space_b4_advert --></div>

      <div id="advert">

        <span id="space_after_advert_span">
        <!-- end #space_after_advert_span --></span>

        <span id="advert_span">

          <img src="images/advertisement.jpg" />

        <!-- end #advert_span --></span>

      <!-- end #advert --></div>

    <!-- end #header_bottom_div --></div>

  <!-- end #header --></div>

  <div id="mainContent">

    <div id="navigator_holder">

      <div id="navigator">

        <span class="button"><%= link_to_unless_current 'Home', home_path %>
        <!-- end .button --></span>
        <span class="button"><%= link_to_unless_current 'News', presses_path %>
        <!-- end .button --></span>
        <span class="button"><%= link_to_unless_current 'Don Wizaro', biography_path %>
        <!-- end .button --></span>
        <span class="button"><%= link_to_unless_current 'Tour + Events', tour_path %>
        <!-- end .button --></span>
        <span class="button"><%= link_to_unless_current 'Media', media_path %>
        <!-- end .button --></span>
        <span class="button"><%= link_to_unless_current 'Community', community_path %>
        <!-- end .button --></span>
        <span id="button_138"><%= link_to_unless_current 'Shop', shop_path %>
        <!-- end #button_138 --></span>

      <!-- end #navigator --></div>

    <!-- end #navigator_holder --></div>

    <div id="content_community">
    <!-- end #content_community --></div>

    <div id="content_span_gap1">
    <!-- end #content_span_gap1 --></div>

    <div id="content_promoted_single">
    <!-- end #content_promoted_single --></div>

    <div id="content_span_gap2">
    <!-- end #content_span_gap2 --></div>

    <div id="content_bars">

      <div id="content_bars_holder">

        <span id="content_bars_news">
        <!-- end #content_bars_news --></span>

        <span class="content_bars_gap">
        <!-- end .content_bars_gap --></span>

        <span id="content_bars_community">
        <!-- end #content_bars_community --></span>

        <span class="content_bars_gap">
        <!-- end .content_bars_gap --></span>

        <span id="content_bars_media">
        <!-- end #content_bars_media --></span>

        <span class="content_bars_gap">
        <!-- end .content_bars_gap --></span>

        <span id="content_bars_events">
        <!-- end #content_bars_events --></span>

      <!-- end #content_bars_holder --></div>

    <!-- end #content_bars --></div>

    <div id="content_span_gap3">
    <!-- end #content_span_gap3 --></div>

    <div id="content_gallery_slides">

        <span id="content_gallery_slides_left_button">
        <!-- end #content_gallery_slides_left_button --></span>

        <span id="content_gallery_slides_bg">

          <span class="picture">
          <!-- end .picture --></span>

          <span class="gallery_slides_gap">
          <!-- end .gallery_slides_gap --></span>

          <span class="picture">
          <!-- end .picture --></span>

          <span class="gallery_slides_gap">
          <!-- end .gallery_slides_gap --></span>

          <span class="picture">
          <!-- end .picture --></span>

          <span class="gallery_slides_gap">
          <!-- end .gallery_slides_gap --></span>

          <span class="picture">
          <!-- end .picture --></span>

          <span class="gallery_slides_gap">
          <!-- end .gallery_slides_gap --></span>

          <span class="picture">
          <!-- end .picture --></span>

          <span class="gallery_slides_gap">
          <!-- end .gallery_slides_gap --></span>

          <span class="picture">
          <!-- end .picture --></span>

        <!-- end #content_gallery_slides_bg --></span>

        <span id="content_gallery_slides_right_button">
        <!-- end #content_gallery_slides_right_button --></span>

    <!-- end #content_gallery_slides --></div>

    <div id="content_span_gap4">
    <!-- end #content_span_gap4 --></div>

	<!-- end #mainContent --></div>

<!-- end #container --></div>

<div id="footer">
<!-- end #footer --></div>

</body>

</html>

